/* tabs_styles.qss */

QTabBar::tab {
    background: #2E2E2E;
    font-family: Verdana;
    font-size: 12px;
    border: 2px solid #007BFF;
    border-radius: 8px;
    padding: 10px;
    margin: 2px;
    height: 23px;
    min-width: 40px;
    color: white; 
}

QTabBar::tab:selected {
    background: #007BFF;
    color: white;
}

QTabBar::tab:hover {
    background: #66B2FF;
}

QTabWidget::pane {
    border: 0px solid;
}